.carousel-container {
    width: 100%;
    margin: auto;
    padding: 100px 0;
    overflow: hidden;
    position: relative;
    background-color: #f0f0f0;
    height: 65vh;
}

.carousel-container .carousel-slide {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f0f0f0;
    padding: 50px;
    border-radius: 10px;
    min-height: 300px;
    transition: transform 0.6s ease-in-out, opacity 0.6s ease-in-out;
    opacity: 1;
}

.carousel-container .carousel-slide .text-content {
    position: absolute;
    left: 20%;
    flex: 1;
    text-align: left;
    width: 40%;
}

.carousel-container .carousel-slide .text-content h5 {
    color: #328f7b;
    margin-bottom: 3%;
}

.carousel-container .carousel-slide .text-content h1 {
    font-size: 3.5em;
    margin-bottom: 5%;
}

.carousel-container .carousel-slide .text-content p {
    font-size: 16px;
    margin-bottom: 15px;
    color: #555;
    margin-bottom: 5%;
}

.carousel-container .carousel-slide .text-content .slide-button {
    background-color: #328f7b;
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.carousel-container .carousel-slide .image-content {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.carousel-container .carousel-slide .image-content img {
    position: absolute;
    max-width: 350px;
    height: auto;
    top: 0;
    right: 10%;
}

.carousel-container .fade-in {
    animation: fadeSlideIn 0.6s ease-in-out;
}

.carousel-container .fade-out {
    animation: fadeSlideOut 0.6s ease-in-out;
}

.carousel-container .carousel-arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 50px;
    height: 50px;
    top: 50%;
    transform: translateY(-50%);
    background-color: #328f7b;
    color: white;
    border: none;
    font-size: 24px;
    padding: 10px;
    cursor: pointer;
    border-radius: 50%;
    transition: background-color 0.3s;
}

.carousel-container .carousel-arrow:hover {
    background-color: #297463;
}

.carousel-container .left {
    left: 80px;
}

.carousel-container .right {
    right: 80px;
}

.carousel-container .carousel-indicators {
    display: flex;
    justify-content: center;
    margin-top: 10%;
}

.carousel-container .carousel-indicators .dot {
    width: 12px;
    height: 12px;
    background-color: lightgray;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.carousel-container .carousel-indicators .dot.active {
    width: 25px;
    height: 12px;
    background-color: #328f7b;
    border-radius: 20px;
}

.carousel-container .carousel-indicators .dot:hover {
    background-color: gray;
}

@keyframes fadeSlideIn {
    from {
        opacity: 0;
        transform: translateX(100%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeSlideOut {
    from {
        opacity: 1;
        transform: translateX(0);
    }
    to {
        opacity: 0;
        transform: translateX(-100%);
    }
}

/* Mobile : 320px - 768px */
@media (max-width: 768px) {
    .carousel-container .carousel-slide {
        flex-direction: column;
        text-align: center;
    }

    .carousel-container .carousel-slide .text-content {
        width: 100%;
        text-align: center;
        padding: 10px;
    }

    .carousel-container .carousel-slide .image-content img {
        width: 80%;
        max-width: 250px;
        margin: auto;
    }

    .carousel-container .carousel-arrow {
        width: 30px;
        height: 30px;
        font-size: 18px;
    }

    .carousel-container .carousel-indicators .dot {
        width: 8px;
        height: 8px;
    }
}

/* Tablettes : 769px - 1024px */
@media (max-width: 1024px) {
    .carousel-container .carousel-slide .text-content h1 {
        font-size: 2.5em;
    }
}

/* Écrans larges : 1025px - 2560px */
@media (min-width: 1440px) {
    .carousel-container {
        max-width: 1440px;
    }
}
